.title {
  height: 159px;
  width: 552px;
}

.list-to-do {
  height: 236px;
  width: 450px;
  margin-top: 100px;
}

.list-label {
  font-size: 24px;
}

.pull-right {
  float: right;
  display: none;
}


/* span:hover+.pull-right {
  background-color: aquamarine;
  display: block;
} */


/* Bootsrap styles */

.jumbotron {
  background-color: white;
}

.btn-lg {
  height: 52px;
  width: 156px;
}

.list-group li:hover .pull-right {
  display: block;
}